name: ci

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  lint-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version-file: 'pyproject.toml'
    - uses: astral-sh/setup-uv@v7
    - run: uv sync --dev
    - uses: j178/prek-action@v1
    - run: uv run pytest

  docker:
    runs-on: ubuntu-latest
    needs: lint-tests
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: bertonha/simple-flask:latest
